body{
    overflow: hidden;
    min-height: 100vh;
    cursor:crosshair
}
.bubble{
    position:absolute;
    border-radius: 300px;
    background-color: rgba(255, 166, 0,0.6);
    opacity: 0;
    animation: animate 8s;
    filter:hue-rotate(0deg);
}

.score{
    font-size: 10rem;
    text-align: center;
    margin-top: 25px;
    color:grey
}
@keyframes animate{
    to {
        top:-250px;
        opacity: 1;
        left: var(--left);
        filter:hue-rotate(720deg);
}

}